@font-face {
  font-family: "font1";
  src: url(./font/static/Raleway-Medium.ttf);
}

:root {
  --color1: #0065fc;
  --color2: #deedff;
  --color3: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "font1", "sans-serif";
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.logo {
  height: 50px;
  width: 100px;
  margin-left: 35px;
}

.navigation {
  padding-right: 35px;
}

.navLink,
.navLink:visited {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 25px;
  margin-left: 45px;
  padding-top: 44px;
}

.link13 {
  color: var(--color1);
}

.link2 {
  color: black;
}

.borderTop1 {
  border-top: 1.4px solid var(--color1);
}

.borderTop23 {
  border-top: 1.4px solid transparent;
}

/* Main */

/* Trouver un hébergement */

.findRoom {
  margin: 50px 35px;
}

.topFindroom p {
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.search-container {
  display: flex;
}

.search-icon {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color3);
  border-radius: 10px 0 0 10px;
}

.search {
  height: 50px;
  width: 250px;
  border-top: 0.5px solid var(--color3);
  border-bottom: 0.5px solid var(--color3);
  border-left: none;
  border-right: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
}

.button {
  height: 50px;
  width: 150px;
  border: none;
  background: var(--color1);
  color: white;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  cursor: pointer;

}

.search:focus {
  outline: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 40px;
}

.filter-checkbox {
  display: none;
}

.filter-label {
  display: flex;
  align-items: center;
  border: 3px solid var(--color3);
  border-left: none;
  border-radius: 100px;
  cursor: pointer;
  padding-right: 20px;
  transition: 0.5s;
  margin: 0 30px;
}

.filter-icon {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  color: var(--color1);
  background: var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-checkbox:checked+.filter-label {
  background: var(--color2);
}

.info-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.info-icon {
  color: var(--color1);
  font-size: 0.9rem;
  border: 0.5px solid var(--color3);
  padding: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-text {
  margin: 0 15px;
}

/* Hébergements à Marseille */

.room {
  display: flex;
  justify-content: space-around;
  margin: 0 30px;
  height: 750px;
}

/* Partie hébergements */

.host {
  background: var(--color3);
  border-radius: 15px;
  flex: 2;
  margin-right: 50px;
  height: 730px;
}

.host h2 {
  margin: 40px 40px;
}

.grid-room {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 60px;
  column-gap: 40px;
  row-gap: 40px;
}

.box-room {
  display: flex;
  flex-direction: column;
  height: 235px;
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.33);
}

.info-room {
  background: white;
  width: 100%;
  height: 80px;
  border-radius: 0 0 10px 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.host-link {
  text-decoration: none;
  color: black;
}

.info {
  margin: 5px 0;
  font-size: 0.9rem;
}

.img {
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.more {
  margin: 40px 40px;
}

.more-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

/* partie populaire */

.popular {
  background: var(--color3);
  border-radius: 15px;
  flex: 1;
  height: 730px; 
}

.popular h2 {
  margin: 40px 40px;
}


.grid-popular {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 40px;
  margin: 0 60px;
}

.info-popular {
  position: relative ;
  background: white;
  height: 100%;
  width: 295px;
  border-radius: 0 10px 10px 0;
  padding-left: 20px;
  padding-top: 20px;
}

.box-popular {
  display: flex;
  height: 170px;
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.33);}

.img-popular {
  height: 100%;
  width: 180px;
  border-radius: 15px 0 0 15px;
}

.popular-link {
  text-decoration: none;
  color: black;
}

.price-popular {
  margin-top: 10px;
}

.icon-popular {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}


/* Activités à Marseille */

.activity h2 {
  margin: 60px 30px;
}



/* Footer */

footer {
  background: var(--color3);
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 50px 0;
  margin-top: 30px;
}

.footerTitle {
  font-weight: 600;
}

footer ul {
  list-style: none;
  margin-top: 25px;
}

footer li {
  margin-top: 15px;
}

.abstract {
  flex: 1;
  padding-left: 50px;
}