@font-face {
  font-family: "font1";
  src: url(./font/static/Raleway-Medium.ttf);
}

:root {
  --color1: #0065fc;
  --color2: #deedff;
  --color3: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "font1", "sans-serif";
}

a {
  text-decoration: none;
  color: black;
}


/* Header */

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  max-width: 1440px;
  margin: 30px auto;
}

.logo {
  height: 50px;
  width: 100px;
  margin-left: 35px;
}

.navigation {
  padding-right: 35px;
}

.navLink,
.navLink:visited {
  text-decoration: none;
  /* font-size: 0.9rem; */
  padding: 0 25px;
  margin-left: 45px;
  padding-top: 44px;
  border-top: 1.8px;
}

.link-blue {
  color: var(--color1);
}

.link-black {
  color: black;
}

.border-top {
  border-top: 1.8px solid var(--color1);
}


.header2 {
  display: none;
}



/* Main */

main {
  width: 98%;
  max-width: 1440px;
  margin: auto;
}

/* Trouver un hébergement */

.findRoom {
  margin: 60px 35px;
}

.topFindroom p {
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.search-container {
  display: flex;
}

.search-container2 {
  display: none;
}

.search-icon {
  height: 50px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color3);
  border-radius: 10px 0 0 10px;
}

.search {
  height: 50px;
  width: 220px;
  border-top: 0.5px solid var(--color3);
  border-bottom: 0.5px solid var(--color3);
  border-left: none;
  border-right: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
}

.search::placeholder {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.button {
  height: auto;
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
}

.search:focus {
  outline: none;
}

.checkbox-container {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

.filter-container {
  margin-top: 50px;
}

.filter {
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
}

.filter-checkbox {
  display: none;
}

.filter-label {
  display: flex;
  align-items: center;
  border: 3px solid var(--color3);
  border-left: none;
  border-radius: 100px;
  cursor: pointer;
  padding-right: 20px;
  transition: 0.5s;
  margin: 0 30px;
}

.filter-label:hover {
  background: var(--color2);

}

.filter-icon {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  color: var(--color1);
  background: var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-checkbox:checked+.filter-label {
  background: var(--color2);
}

.info-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.info-icon {
  color: var(--color1);
  border: 0.5px solid var(--color3);
  padding: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-text {
  margin: 0 15px;
}

/* Hébergements à Marseille */

.room {
  display: flex;
  justify-content: space-around;
  margin: 0 30px;
  height: 650px;
}

/* Partie hébergements */

.host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color3);
  border-radius: 15px;
  height: 100%;
  margin-right: 45px;
  flex: 2;
}

.host h2 {
  margin: 40px 40px;
}


.grid-room {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 45px;
  gap: 27px;

  height: 100%;
}

.box-room {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.20);
  height: 100%;
  background: white;
}

.info-room {
  background: white;
  border-radius: 0 0 10px 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 50%;
}


.info {
  margin: 5px 0;

}

.img-host {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}


.more {
  margin: 30px 40px;

}

.more-link {
  font-weight: bold;
  font-size: 1.1rem;
}

/* partie populaire */

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--color3);
  border-radius: 15px;
  flex: 1;
  height: 100%;
}

.top-popular {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0;
  padding: 0 35px;

}

.icon-top {
  font-weight: bold;
  font-size: 1.6rem;
}


.grid-popular {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 35px;
  width: 80%;
  height: 80%;
}

.info-popular {
  background: white;
  border-radius: 0 10px 10px 0;
  padding-left: 20px;
  padding-top: 10px;
  height: 100%;
}

.box-popular {
  display: flex;
  height: 100%;
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.20);
}

.img-popular {
  width: 55%;
  height: 100%;
  border-radius: 15px 0 0 15px;

}


.price-popular {
  margin-top: 10px;
  font-size: 0.9rem;
}

.icon-popular {
  padding-bottom: 10px;
  font-size: 0.9rem;
}

.popular-link {
  width: 100%;
}

.flex-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;

}

.blue-star {
  color: var(--color1);

}

.grey-star {
  color: var(--color3);

}

.box-animation:hover {
  transform: scale(1.05);
  transition: ease 0.4s;
}


/* Activités à Marseille */
.activity {
  margin: 70px 35px;
}

.activity-container {
  height: 550px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
  grid-gap: 30px;
  grid-template-areas:
    "activity1 activity2 activity4 activity5"
    "activity1 activity2 activity4 activity5"
    "activity1 activity2 activity4 activity6"
    "activity1 activity2 activity4 activity6"
    "activity1 activity3 activity4 activity6"
    "activity1 activity3 activity4 activity6";
}

.activity1 {

  grid-area: activity1;
}

.activity2 {
  grid-area: activity2;
}

.activity3 {
  grid-area: activity3;
}

.activity4 {
  grid-area: activity4;
}

.activity5 {
  grid-area: activity5;
}

.activity6 {
  grid-area: activity6;
}

.position {
  position: relative;
}

.activity-container .activity-marseille {
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.20);
  width: 100%;
  height: 100%;


}

.carte {
  height: 100%;
  margin: 0;
}

.img-activity {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: 0;
}

.activity-container .info-activity {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  background: white;
  border-radius: 0 0 15px 15px;
  padding: 20px 20px;
}

/* Footer */

footer {
  background: var(--color3);
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 50px 0;
  /* margin-top: 30px; */
  width: 98%;
  max-width: 1440px;
  margin: auto;
}

.footerTitle {
  font-weight: 600;
}

footer ul {
  list-style: none;
  margin-top: 25px;
}

footer li {
  margin-top: 15px;
}

.abstract {
  flex: 1;
  padding-left: 50px;
}

/* mediea queries 1200px and more */

@media screen and (max-width: 1440px) {
  .header2 {
    display: none;
  }
  
  .search-container2 {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .header2 {
    display: none;
  }
  
  .search-container2 {
    display: none;
  }
  .flex-info {
    width: 100%;
  }

  .info-room {
    height: 80%;
    ;
    width: 100%;
  }

  .info-activity {
    width: 70%;
  }
}


/* media queries 1025px - 1200px */

@media screen and (max-width: 1200px) {
  .header2 {
    display: none;
  }

  .room {
    flex-direction: column-reverse;
    height: 1000px;
  }

  .popular {
    margin-bottom: 50px;
  }

  .grid-popular {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    width: 100%;
    padding: 0 45px;
  }

  .box-popular {
    height: 80%;
  }

  .host {
    height: 100%;
    margin: 0;
  }

  .grid-room {
    gap: 40px;
  }
}

@media screen and (max-width: 1104px) {
  .filter-label {
    margin-top: 20px;
  }
  
  .activity-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "activity1 activity2 activity3"
    "activity4 activity5 activity6";
    gap: 20px;
  }
  .activity1 {
    grid-area: activity1;
  }
  .activity2 {
    grid-area: activity2;
  }
  .activity3 {
    grid-area: activity3;
  }
  .activity4 {
    grid-area: activity4;
  }
  .activity5 {
    grid-area: activity5;
  }
  .activity6 {
    grid-area: activity6;
  }
}

@media screen and (max-width: 1044px) {
  .checkbox-container {
    flex-wrap: wrap;
  }
  
  .filter-label {
    margin-top: 20px;
  }
}
/* media queries 900px */

@media screen and (max-width: 900px) {
  .grid-popular, .grid-room {
    margin: 0;
    padding: 0 20px;
    gap: 20px;
  }
}

/* media queries 600px */

@media screen and (max-width: 600px) {
  .header1 {
    display: none;
  }

  .header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    
  }

  .header-part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 35px;
    margin-top: 30px;
  }

  .logo-mobile {
    height: 75px;
  }

  .register {
    color: var(--color1);
    font-size: 1.1rem;
  }

  .header-part2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .border-bottom {
    border-bottom: 2px solid rgba(0, 0, 0, 0.23);
    width: 300px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.1rem;
  }

  .link-blue {
    border-bottom: 2px solid var(--color1);
  }
  .findRoom {
    margin-top: 30px;
  }
  
  .navigation {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .filter-label {
    margin: 15px;
  }

  main {
    width: 100%;
  }

  .room {
    flex: none;
    height: 100%;
    margin: 0;
  }
  
  .popular {
    flex: none;
    height: 700px;
    width: 100%;
    border-radius: 0px;
  }

  .grid-popular {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
  }

  .box-popular {
    height: 100%;
    margin: 0 35px;
  }

  .host {
    background: none;
    flex: none;
    height: 2000px;
    margin: 0 35px;
  }

  .host h2 {
    margin-left: 0;
  }

  .grid-room {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 0;
    
  }

  .info-room {
    height: 40%;
  }

  .more {
    margin: 40px 0;
  }

  .activity-container {
    height: 1500px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "activity1"
    "activity2"
    "activity3"
    "activity4"
    "activity5"
    "activity6";
  }
  .activity1 {
    grid-area: activity1;
  }
  .activity2 {
    grid-area: activity2;
  }
  .activity3 {
    grid-area: activity3;
  }
  .activity4 {
    grid-area: activity4;
  }
  .activity5 {
    grid-area: activity5;
  }
  .activity6 {
    grid-area: activity6;
  }

  .info-activity {
    height: 50px;
  }
  
  footer {
    width: 100%;
    flex-direction: column;
  }
  .abstract {
    margin-bottom: 40px;
  }
}
 /* media queries smartphone */

 @media screen and (max-width: 414px) {
  .header2 {
    height: 150px;

  }
  
  .header-part1 {
    padding: 0 20px;
  }

 .logo-mobile {
    height: 50px;
    width: 90px;
  }   
  
  .border-bottom, .register {
    font-size: 0.95rem;
  }

 .findRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 25px;
  }

  .topFindroom p {
    padding-top: 25px;
  }

  form {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }

  .search-container {
    display: none;
  }

  .search-container2 {
    display: flex;
  }

  .button {
    border-radius: 15px;
  }

  .checkbox-container {
    justify-content: space-between;
  }

  .filter-container {
    margin-top: 30px;
  }

  .filter {
    display: block;
    margin-bottom: 10px;
  }

  .filter-label {
    margin: 10px 0;
  }

  .info-container {
    align-items: flex-start;
    justify-content: center;
  }

  .info-container {
    margin-top: 30px;
  }
  .info-text {
    font-size: 0.9rem;
  }

  .top-popular {
    padding: 0 15px;
  }

  .box-popular {
    margin: 0 25px;
  }

  .host {
    margin: 0;
  }

  .host h2, .more {
    margin-left: 25px;
  }

  .box-room {
    margin: 0 25px;
  }

  .activity {
    margin: 0;
  }

  .activity h2 {
    margin-left: 25px;
  }

  .activity-container {
    margin: 30px 25px;
  }
 }